.container{
    border-top: solid 2px #ebebeb;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #fff;
    height: auto;

 
  // padding: 1% 0;
 
}
.title{
 text-align: center;
 color: #9e9e9e;
 font-size: 1rem;
 margin: 0 28% !important;
 font-weight: 400;
}
.content{
    font-size: 1.2rem;
    font-weight: 600;
    color: #646464;
    margin: 1% 20% !important;
}
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .title{
 
    margin: 0 1% !important;
  
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Adjustments for medium-sized screens */

}

@media screen and (min-width: 1025px) {
  /* Adjustments for large screens */

}