.container {
    display: flex;
    min-height:35vh;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 200;
    background-color: #fff;
    height: 190px;
    padding: 4% 0;
    width: 100%;
  }
  .top {
 
    display: flex;
    width: 51%;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
 
  }
 .bottom {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-content: center;
    align-items: center;
    margin-top: 30;
  justify-content:center;
  }
  .content {
     text-align: justify;
     font-size: 1.2rem;
     font-weight: 500;
     color: #6C6C6C;
}
  .contentEnd {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24;
    margin-top: 60px;
    font-size: 1.8rem;
  }
  .btnLeft {
    display: flex;
    height: 30px;
    width: 30%;
    background-color: #2C7EDB;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2%;
    margin: 0 3%;
    border: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
  }
  .btnRight {
    display: flex;
    height: 30px;
    width: 30%;
    padding: 2%;
    background-color: #29B363;
    justify-content: center;
    border: none;
    align-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .btnContent {
    margin-inline-end: 10;
    color: #fff;
    font-size: 1rem;
  }
  button:hover{
    opacity: 0.8;
  }
  @media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .container{
      min-height: 50vh;
      height:fit-content
    }
    .top{
      width:fit-content;
      margin: 0 8%
    }
    .bottom{
      width:100%
    }
    .btnLeft,
    .btnRight{
width:40%;
height:40px;
margin:3rem 1rem
    }
    .btnContent {
      font-size: 1rem;
      font-weight:500
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Adjustments for medium-sized screens */
    .container{
      min-height: 50vh;
      height:fit-content
    }
    .btnLeft,
    .btnRight{
width:40%;
height:40px;
margin:3rem 1rem
    }
    .btnContent {
      font-size: 1rem;
      font-weight:500
    }
  
  }
  
